
nav {
    .flex(column, center, center);
    padding-top: 13px;
    padding-bottom: 11px;
    background: @nav-bg;
    border-bottom: @nav-border;
    a{
        .anchor-nav();
    }
    h1 {
        font-size: 4rem;
    }
    .navigation {
        .flex(row, space-evenly, center);
        width: 45%;
        font-size: 1.6rem;
        padding-top: 20px;
    }
}